<% content_for :title, "Game sessions" %>

<!--<h1>Game sessions</h1>-->

<div id="game_sessions">
  <%= render partial: "list", locals: { game_sessions: @game_sessions } %>
</div>

<!--<div class="mt-4">-->
  <%#= link_to "New Game Session", new_game_session_path, class: "btn btn-primary btn-lg" %>
<!--</div>-->
