<%= render @game_session %>

<div class="mt-3">
  <%= link_to "Back to #{@game_session.project.name}",
              project_path(@game_session.project),
              class: "btn btn-secondary" %>

  <% if @game_session.owner == current_user %>
    <%= link_to "Edit Session",
                edit_game_session_path(@game_session),
                class: "btn btn-outline-primary" %>

    <%= button_to "Destroy Session",
                  @game_session,
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-danger" %>
  <% end %>
</div>
