<div id="<%= dom_id session_user %>">
  <p>
    <strong>Session:</strong>
    <%= session_user.session_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= session_user.user_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= session_user.role %>
  </p>

</div>
