<% content_for :title, "Editing session user" %>

<h1>Editing session user</h1>

<%= render "form", session_user: @session_user %>

<br>

<div>
  <%= link_to "Show this session user", @session_user %> |
  <%= link_to "Back to session users", session_users_path %>
</div>
