<p style="color: green"><%= notice %></p>

<% content_for :title, "Session users" %>

<h1>Session users</h1>

<div id="session_users">
  <% @session_users.each do |session_user| %>
    <%= render session_user %>
    <p>
      <%= link_to "Show this session user", session_user %>
    </p>
  <% end %>
</div>

<%= link_to "New session user", new_session_user_path %>
