<%= turbo_stream.replace "zone-grid-#{params[:zone_name]}" do %>
  <div class="zone-grid" id="zone-grid-<%= params[:zone_name] %>">
    <% @game_session.playing_cards.in_zone(params[:zone_name]).ordered.each do |card| %>
      <div class="card-slot">
        <%= render "playing_cards/playing_card",
                   card: card,
                   current_zone: params[:zone_name],
                   can_interact: current_user_can_interact?(params[:zone_name]) %>
      </div>
    <% end %>
  </div>
<% end %>
